body {
  font-family: Arial, sans-serif;
}

.calendar-container {
  background-color: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.nav-btn {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.nav-btn:hover {
  background-color: #0056b3;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
}

.day-label {
  font-weight: bold;
  text-align: center;
}

.day {
  background-color: #eaf2fc;
  padding: 1rem;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.day:hover {
  background-color: #cce5ff;
}

.popup {
  display: none;
  position: fixed;
  top: 57%;
  left: 73%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #007bff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

#popupContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hourly-reservations {
  margin-top: 20px;
  width: 100%;
}

.hour-row {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
  width: 100%;
}

.hour-row button {
  padding: 8px 15px;
  cursor: pointer;
  margin-left: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.hour-row button:hover {
  background-color: #0056b3;
}

#close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 50%;
}

#close-popup:hover {
  background-color: #c82333;
}

.hour-row button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.hour-row span {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
