body {
    font-family: Arial, sans-serif;
    padding: 0;
    background-color: #f8f9fa;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.presentation {
    background-color: #f9f9f9;

    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px 15px;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.presentation:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

#presentations {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.details {
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    /* gap: 20px; */
    /* flex-grow: 1; */
    font-size: 16px;
    color: #333;
}

.name {
    width: 300px;
}

.presenter {
    width: 100px;
}

/* .date {
    width: 300px;
} */

.details > div {
    display: block;
    text-align: left;
}

.assign-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.assign-button:hover {
    background-color: #0056b3;
}